version: '{build}'
skip_tags: true
image: Visual Studio 2022
configuration: Release
test: off
build_script:
- ps: ./Build.ps1
artifacts:
- path: artifacts/Destructurama.*.nupkg
deploy:
- provider: NuGet
  api_key:
    secure: Wn1Gk/PlHvfzzhTwNAQi3TiWUtTRYpIioNq8gsfK3tDDttjTQODQFOuYYhLsDCfd
  skip_symbols: true
  on:
    branch: /^(master|dev)$/
